<mat-toolbar>
  <button mat-icon-button style="width: auto;">
    <mat-icon class="icon" (click)="goback()">chevron_left</mat-icon>
    Adicionar usuário
  </button>
</mat-toolbar>

<div class="container">
  <form [formGroup]="addUser" class="form" (ngSubmit)="handleAddUser()" *ngIf="!loading; else loadingTemplate">
    <article>Crie uma conta para seu usuário</article>
    <mat-form-field appearance="outline">
      <mat-label>Nome do cliente</mat-label>
      <input matInput required placeholder="Digite o nome do cliente" formControlName="name" autocomplete="off">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Usuário do cliente</mat-label>
      <input matInput required placeholder="Digite o usuário do cliente" formControlName="email" autocomplete="off">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Senha do cliente</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" required placeholder="Digite a senha do cliente"
        formControlName="password" autocomplete="off">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!addUser.valid" type="submit">Criar usuário</button>
  </form>
  <ng-template #loadingTemplate>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>
