mat-toolbar {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.container {
  width: 100%;
  height: 100%;
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-form-field {
  width: 80%;
}

button {
  width: 80%;
}

img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 16px;
}

article {
  font-size: 16px;
  color: #111;
  text-align: center;
  font-weight: 600;
  margin-bottom: 16px;
}


.containerFile {
  width: 80%;
  border: 0.5px solid #70707050;
  border-radius: 4px;
  margin-bottom: 16px;
}

::-webkit-file-upload-button {
  background-color: #f7ca18;
  height: 40px;
  border: none;
  border-radius: 4px;
}
