<mat-toolbar>
  <button mat-icon-button style="width: auto;">
    <mat-icon class="icon" (click)="goback()">chevron_left</mat-icon>
    Adicionar documento
  </button>
</mat-toolbar>

<div class="container">
  <form [formGroup]="addDoc" class="form" (ngSubmit)="handleAddDoc()" *ngIf="!loading; else loadingTemplate">
    <article>Preencha os dados do documento</article>
    <mat-form-field appearance="outline">
      <mat-label>Tipo de documento</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let categories of types" [value]="categories">
          {{categories}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Subtipo do documento</mat-label>
      <input matInput placeholder="Digite o nome do cliente" formControlName="subtype" autocomplete="off">
    </mat-form-field>
    <div class="containerFile">
      <input type="file" accept="application/pdf" (change)="getFile($event)">
    </div>
    <button mat-raised-button color="primary" [disabled]="!addDoc.valid || uploadedDoc == null" type="submit">Salvar
      documento</button>
  </form>
  <ng-template #loadingTemplate>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>
