.container{
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-card {
  width: 80%;
  height: 30px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

mat-card:hover {
  background-color: #fff000;
}

.titlecard {
  font-size: 16px;
  color: #111;
}

.fab {
  position: fixed;
  bottom: 24px;
  right: 24px;
}


