<mat-toolbar>
  <img src="../../../assets/ws_logo.png">
  <button mat-icon-button (click)="handleLogout()">
    <mat-icon class="icon">logout</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  <div class="containerFilter">
    <mat-form-field appearance="outline">
      <mat-label>Filtrar por nome</mat-label>
      <input matInput placeholder="Digite o nome do cliente" (change)="handleFilterUser($event)" autocomplete="off" />
    </mat-form-field>
    <button mat-button class="icon-button">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <mat-card *ngFor="let user of users$ | async" (click)="goToAddDocuments(user)">
    <article class="title">
      {{user.name}}
    </article>
    <div>
      <button mat-icon-button>
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </mat-card>
</div>
<div class="fab">
  <button mat-mini-fab color="primary" (click)="goToAddUser()">
    <mat-icon>add</mat-icon>
  </button>
</div>
