<mat-toolbar>
  <img src="../../../assets/ws_logo.png">
  <button mat-icon-button>
    <mat-icon class="icon">logout</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <mat-form-field appearance="outline">
    <mat-label>Tipo de documento</mat-label>
    <mat-select (selectionChange)="categoria($event)">
      <mat-option value="Todos">
        Todos
      </mat-option>
      <mat-option *ngFor="let categories of types" [value]="categories">
        {{categories}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-card *ngFor="let docs of documents">
    <article class="title">
      {{docs.type}}
    </article>
    <div>
      <button mat-icon-button>
        <mat-icon>open_in_browser</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>download</mat-icon>
      </button>
    </div>
  </mat-card>
</div>
