<mat-toolbar>
  <img src="../../../assets/ws_logo.png">
  <button mat-icon-button (click)="handleLogout()">
    <mat-icon class="icon">logout</mat-icon>
  </button>
</mat-toolbar>
<div class="container" *ngFor="let user of user$ | async ">
  <div class="container" style="padding-top: 0;" *ngIf="user.isValid!; else invalid">
    <mat-form-field appearance="outline">
      <mat-label>Tipo de documento</mat-label>
      <mat-select (selectionChange)="categoria($event)">
        <mat-option value="Todos">
          Todos
        </mat-option>
        <mat-option *ngFor="let categories of types" [value]="categories">
          {{categories}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card *ngFor="let docs of documents$ | async" (click)="openPdf(docs.url!)">
      <div class="containerType">
        <article class="title">
          {{docs.type}}
        </article>
        <article class="title">
          {{docs.subtype}}
        </article>
      </div>
      <div>
        <button mat-icon-button>
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
  <ng-template #invalid>
    <div class="container">
      <article class="invalidText">
        Você não está em dias, se considera isso um engano, entre em contato conosco!
      </article>
    </div>
  </ng-template>

</div>
